<h3>About Us</h3>

<p>Donec libero libero, bibendum non condimentum ac, ullamcorper at sapien. Duis feugiat urna vel justo cursus facilisis. Vivamus ligula dui, convallis a varius vitae, facilisis eget magna.</p>

<h3>Recent Updates</h3>
<ul>
  {% for post in site.categories.updates limit: 5 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<!-- <h3>Archives</h3>
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h4>{{ post.date | date: '%Y' }} This</h4>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h4>{{ post.date | date: '%Y' }} That</h4>
      {% endif %}
    {% endunless %}

    <li>{{ post.date | date:"%B" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul> -->